.group-list-item {
    position: relative;
    display: flex;
    border-top: 4px solid lightgray;
    width: 600px;
    height: 200px;
}

.group-list-item:hover {
    background-color: rgb(235, 235, 235);
}

.link-wrap-group-list{
    text-decoration-color: currentColor;
    text-decoration-line: none;
}

.group-title{
    font-size: 16px;
    font-weight: Bold;
    padding-top: 10px;
    color: rgb(34, 34, 34);
}

.group-details{
    padding-left: 15px;
}

.group-citystate{
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    color: rgb(129, 129, 129);
    padding-right: 20px;
}

.gl-pin-icon {
    height: 20px;
    width: auto;
    filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(205deg) brightness(94%) contrast(94%);

}

.group-list-image {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
    height: 87px;
    width: 150px;
    border-radius: 10%;
}

.prev-img-sgrp-list {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
}

.group-about{
    display: block;
    text-align: justify;
    color: rgb(34, 34, 34);
    margin-right: 20px;
    width: 96%;
    /* border: 1px solid blue; */
    height: 90px;
    overflow: hidden;
}


.group-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 20px;
}

.group-members-prv {
    padding-bottom: 10px;
    color: gray;
}
