.main-body {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.landing-upper{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    column-gap: 50px;
}

.left-upper {
    padding-top: 65px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 450px;
}

.cele {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.blurb {
    text-align: left;

}

.right-upper {
padding-top: 50px;
}

.ur-img {
    height: auto;
    width: 520px;
}

.middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
}

.mid-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.mid-p {
    text-align: center;
}

.lower {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 30px;
}


.landing-link-wrap {
    text-decoration-color: currentColor;
    text-decoration-line: none;
}

.lower-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
    height: 300px;
}


.low-img-div {
    display: flex;
    justify-content: center;
}

.lower-item-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 8px;
    color: rgb(0, 130, 148);
}

.lower-item-title:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.lower-item-p {
    text-align: center;
    color: black;
}

.join-landing-btn-div {
    padding-top:60px;
}

.join-landing-btn {
    height: 40px;
    width: 125px;
    color: white;
    background-color: rgb(0, 130, 148);
    border-radius: 8px;
    box-shadow: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.join-landing-btn:hover {
    background-color: rgb(36, 136, 149);
    cursor: pointer;
}

.join-landing-btn:active {
    transform: scale(0.95);
}

.blob-div {
    z-index: -10;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.green-blob {
    width: 1000px;
}
