.ed-main-page-body {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.ed-top-info-banner {
    background-color: white;
    height: 130px;
    width: 100%;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 20px;
    overflow: visible;
}

.ed-info-banner-date {
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
}

.ed-info-banner-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ed-info-banner-host-grp {
    display: flex;
    flex-direction: column;
}

.ed-info-banner-hosted-by {
    margin-bottom: 4px;
}

.ed-info-banner-host {
    font-weight: bold;
}

.ed-page-body {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    background-color: #f3f3f3;
    padding-top: 50px;
}

.ed-left-side-grp {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    margin-left: 80px;

}

.ed-main-img {
    height: 337px;
    width: 600px;
    border-radius: 10px;
}


.ed-desc-header {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.ed-event-desc {}

.ed-rt-side-grp {}

.ed-group-detail-item {
    height: 100px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ed-group-item-img {
    height: 75.75px;
    width: 135px;
    min-width: 135px;
    margin-right: 20px;
    border-radius: 10px;
    margin: 20px;
}

.ed-group-detail-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.ed-group-detail-title {
    padding-top: 12px;
    font-weight: bold;
}

.ed-group-detail-public {
    color: rgb(161, 161, 161);
    padding-bottom: 12px
}

.ed-date-loc-item-grp {
    margin-top: 30px;
    height: 206px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ed-icon-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
}

.ed-clock-icon {
    height: 40px;
    width: auto;
    filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(205deg) brightness(94%) contrast(94%);

}

.ed-datetime-grp-div{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.ed-start-end {
    color: rgb(161, 161, 161);
    font-size: 16px;

}
.ed-rt-item-datetime {
    font-size: 16px;
    height: 100%;
}

.ed-rt-item-loc {}

.ed-bottom-info-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 60px;
    right: 0px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding-left: 80px;
    padding-right: 120px;
    padding-bottom: 20px;
    position: fixed;
    left: 0px;
    bottom: 50px;
}

.ed-bot-banner-left-grp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ed-bot-banner-datetime {
    padding-top: 20px;
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;

}

.ed-bot-banner-title {
    font-weight: bold;
    font-size: 16px;
}

.ed-bot-banner-right-grp {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 200px;
    padding-top: 20px
}

.ed-owner-buttons {
    width: 100px;
}

.ed-delete-btn {
    height: 35px;
    width: 120px;
    border-radius: 6px;
    border: none;
    background-color: #f64060;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.ed-delete-btn:hover {
    background-color: #ff8198;
}

.ed-delete-btn:active {
    transform:scale(.95);
}

.ed-bot-banner-price {
    font-weight: bold;
    font-size: 20px;
}
